
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');


/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

.wrapper .content{
  border: 10px;
  width: 80%;
}


/* Headings*/


h1 {
  font-weight: 400;
  font-family: 'Baskerville';
  color: ;

}

img {
  padding: 40px;
}