
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');


/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

.wrapper .content{
  border: 10px;
  width: 100%;
}


/* Headings*/


h1, h2, h3 {
  padding-top: 30px;
  font-family: 'Baskerville';
  color: #92AFA7;

}

h2, h3 {
  font-family: 'serif';
  font-size: 35px
}

img {
  padding: 35px;
  border: 10px #92AFA7 ;
}

/* content*/


.Press-row .column {
 float: left;
}

